<main class="relative min-h-screen flex flex-col justify-center bg-slate-50 overflow-hidden" style="background: url('assets/images/bg-portfolio.png') no-repeat center/cover; background-attachment: fixed;">
    <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">
        <h1 class="text-5xl text-center font-bold text-gray-100 mb-6">Work Experience</h1>
        <div class="flex flex-col justify-center divide-y divide-slate-200 [&>*]:py-16 bg-black bg-opacity-45 rounded-2xl">

            <div class="w-full max-w-3xl mx-auto">
            
                <!-- Vertical Timeline #1 -->
                <div class="-my-6">

                    <!-- Item #1 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->
                        <div class="font-caveat font-medium text-2xl text-gray-200 mb-1 sm:mb-0">CSR Order Management, El Corte Inglés</div>
                        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-cyan-500 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-900 bg-teal-400 rounded-full">2024-2025</time>
                            <div class="text-xl font-bold text-cyan-500">CSR Order Management at El Corte Inglés</div>
                        </div>
                        <!-- Content -->
                        <div class="text-gray-100">Management in the delivery of orders to customers, optimizing storage processes, and ensuring the correct updating and management of data in internal systems.</div>
                    </div>
                    
                    <!-- Item #2 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->
                        <div class="font-caveat font-medium text-2xl text-gray-200 mb-1 sm:mb-0">FCT Telemarketing, GoldenLine</div>
                        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-cyan-500 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-900 bg-teal-400 rounded-full">2023</time>
                            <div class="text-xl font-bold text-cyan-500">FCT Telemarketing at GoldenLine</div>
                        </div>
                        <!-- Content -->
                        <div class="text-gray-100">Troubleshooting internal website issues, implementing new features, optimizing, and documenting code.</div>
                    </div>

                    <!-- Item #3 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->
                        <div class="font-caveat font-medium text-2xl text-gray-200 mb-1 sm:mb-0">FCT, Instituto Pedraforca</div>
                        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-cyan-500 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-emerald-900 bg-teal-400 rounded-full">2021</time>
                            <div class="text-xl font-bold text-cyan-500">FCT at Instituto Pedraforca</div>
                        </div>
                        <!-- Content -->
                        <div class="text-gray-100">Computer maintenance, installing and optimizing operating systems for various devices.</div>
                    </div>
                    
                    

                </div>
                <!-- End: Vertical Timeline #1 -->
                
            </div>
        </div>
    </div>
</main>
