.popup-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Colocar detrás del popup pero delante del resto */
    display: none; /* Inicialmente oculto */
  }
  
  .popup {
    position: fixed;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup_err {
    color: white;
    position: fixed;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .popup-contenido {
    text-align: center;
  }
  
  .popup button {
    margin-top: 10px;
  }
  
  .mostrar-popup {
    display: block; /* Mostrar el popup y el fondo */
  }
  .close-btn {
    border: 1px solid black;
    color: black;
    background: linear-gradient(138deg, rgba(220,234,255,1) 0%, rgba(162,162,162,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.6s ease;
    margin-top: 20px;
    box-shadow: 2px 2px 4px black;
  }
  .close-btn:hover {
    transform: scale(1.1);
  }

  /* Estilos para el spinner de carga */
.loader {
  border: 8px solid #f3f3f3; /* Color de fondo */
  border-top: 8px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para la pantalla de carga */
.fixed {
  position: fixed;
}
