<div class="min-h-screen flex items-center justify-center px-4 py-24" style="background: url('assets/images/bg-portfolio.webp') no-repeat center/cover; background-attachment: fixed;">
    <div class="max-w-2xl w-full bg-gray-900 bg-opacity-80 p-8 rounded-lg shadow-lg appear">
        <h2 class="text-2xl font-semibold text-stone-200 text-center mb-6">Contact Me</h2>
        <form (ngSubmit)="enviarCorreo()" #contactForm="ngForm">
            <div class="mb-4">
                <label for="name" class="block text-stone-200">Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="name" required class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-stone-200">Your email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" email required class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
            </div>
            <div class="mb-4">
                <label for="subject" class="block text-stone-200">Subject</label>
                <input type="text" id="subject" name="subject" [(ngModel)]="subject" required class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
            </div>
            <div class="mb-4">
                <label for="message" class="block text-stone-200">Message</label>
                <textarea id="message" name="message" rows="5" [(ngModel)]="message" required class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" [disabled]="!contactForm.valid" [style.backgroundColor]="!contactForm.valid ? '#cccccc' : '#6B97D9'" class="btn-submit w-full text-white p-3 rounded-lg">
                    Send Message
                </button>
            </div>
        </form>
    </div>

    <!-- Fondo oscurecido -->
    <div class="popup-fondo" [ngClass]="{'mostrar-popup': enviadoExitosamente || enviadoErroneo}" (click)="cerrarMensaje()">

    <!-- Popup de éxito -->
    <div *ngIf="enviadoExitosamente" class="popup">
        <div class="popup-contenido">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="p-4 md:p-5 text-center">
                    <div class="flex justify-center items-center p-4 md:p-5">
                        <svg class="h-16 w-16 text-green-400"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />  <polyline points="22 4 12 14.01 9 11.01" /></svg>
                    </div>                    
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">The email has been sent successfully!</h3>
                    <button (click)="cerrarMensaje()" type="button" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Perfect!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="enviadoErroneo" class="popup_err">
        <div class="popup-contenido">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Error! The email has not been sent.</h3>
                    <button (click)="cerrarMensaje2()" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pantalla de carga -->
<div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
    <div class="loader">
        <label>Sending message...</label>
        <div class="loading"></div>
    </div>
  </div>