<section id="skills" class="bg-gray-200 text-gray-800 py-28 -mt-12 -mb-6" style="background: url('assets/images/bg-portfolio.webp') no-repeat center/cover; background-attachment: fixed;">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold mb-12 text-center text-stone-100">My Skills</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">

      <!-- Programming Languages -->
      <div class="bg-gray-900 bg-opacity-80 rounded-lg p-6 shadow-lg text-center">
        <h3 class="text-xl font-semibold mb-4 text-stone-100">Programming Languages</h3>
        <div class="flex flex-wrap justify-center font-medium">
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-orange-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-orange-300 rounded-full">
              <img src="assets/images/HTML5_logo.png" alt="HTML Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>HTML</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-blue-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-blue-300 rounded-full">
              <img src="assets/images/CSS3_logo.png" alt="CSS Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>CSS</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-yellow-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-yellow-300 rounded-full">
              <img src="assets/images/Javascript_logo.png" alt="JavaScript Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>JavaScript</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-amber-200 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-amber-100 rounded-full">
              <img src="assets/images/Python_logo.png" alt="Python Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Python</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-purple-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-purple-300 rounded-full">
              <img src="assets/images/PHP_logo.png" alt="PHP Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>PHP</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-indigo-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-indigo-300 rounded-full">
              <img src="assets/images/TypeScript_logo.png" alt="TypeScript Icon"
                class="rounded-md h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>TypeScript</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-green-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-green-300 rounded-full">
              <img src="assets/images/Node_logo.png" alt="Node.js Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Node.js</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-cyan-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-cyan-200 rounded-full">
              <img src="assets/images/Java_logo.png" alt="Java Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Java</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-orange-600 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-orange-400 rounded-full">
              <img src="assets/images/Sql_logo.png" alt="SQL Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>SQL</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Frameworks & Libraries -->
      <div class="bg-gray-900 bg-opacity-80 rounded-lg p-6 shadow-lg text-center flex flex-col items-center">
        <h3 class="text-xl font-semibold mb-4 text-stone-100 w-full text-center">
          Frameworks & Libraries
        </h3>
        <div class="flex flex-wrap justify-center font-medium flex-1 items-center">
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-red-600 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-red-400 rounded-full">
              <img src="assets/images/Angular_logo.png" alt="Angular Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Angular</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-red-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-red-300 rounded-full">
              <img src="assets/images/Laravel_logo.png" alt="Laravel Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Laravel</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-emerald-700 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-emerald-500 rounded-full">
              <img src="assets/images/Django_logo.png" alt="Django Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Django</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-amber-600 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-amber-400 rounded-full">
              <img src="assets/images/TensorFlow_logo.png" alt="TensorFlow Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>TensorFlow</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-teal-600 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-teal-300 rounded-full">
              <img src="assets/images/Tailwind_logo.png" alt="Tailwind CSS Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Tailwind CSS</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-violet-700 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-violet-400 rounded-full">
              <img src="assets/images/Bootstrap_logo.png" alt="Bootstrap Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Bootstrap</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-blue-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-blue-300 rounded-full">
              <img src="assets/images/Jquery_logo.png" alt="JQuery Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>JQuery</span>
            </div>
          </div>

          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-yellow-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-yellow-300 rounded-full">
              <img src="assets/images/Express_logo.png" alt="Express.js Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Express.js</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Tools & Platforms -->
      <div class="bg-gray-900 bg-opacity-80 rounded-lg p-6 shadow-lg text-center flex flex-col items-center">
        <h3 class="text-xl font-semibold mb-4 text-stone-100 w-full text-center">
          Tools & Platforms
        </h3>
        <div class="flex flex-wrap justify-center font-medium flex-1 items-center">
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-orange-600 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-orange-300 rounded-full">
              <img src="assets/images/Git_logo.png" alt="Git Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>Git</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-blue-400 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-blue-200 rounded-full">
              <img src="assets/images/VisualStudioCode_logo.png" alt="VS Code Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="text-xs text-center">
              <span>Visual Studio Code</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col text-black bg-gray-600 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-gray-400 rounded-full">
              <img src="assets/images/Github_logo.png" alt="GitHub Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>GitHub</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col text-black bg-cyan-800 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-cyan-600 rounded-full">
              <img src="assets/images/Postgresql_logo.png" alt="PostgreSQL Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>PostgreSQL</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-red-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-red-300 rounded-full">
              <img src="assets/images/Npm_logo.png" alt="NPM Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>NPM</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-orange-500 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-orange-300 rounded-full">
              <img src="assets/images/Postman_logo.png" alt="Postman Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500 bg-white rounded-md">
            </div>
            <div class="">
              <span>Postman</span>
            </div>
          </div>
          <div
            class="m-2 w-24 h-24 rounded-md flex items-center justify-center flex-col bg-sky-700 hover:scale-110 hover:cursor-default transition duration-300">
            <div class="p-2 bg-sky-500 rounded-full">
              <img src="assets/images/MySQL_logo.png" alt="MySQL Icon"
                class="h-8 w-8 object-cover hover:scale-125 transition duration-500">
            </div>
            <div class="">
              <span>MySQL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>