#conoceMasBtn {
    .arrow {
        transition: transform 0.6s ease-in-out;
    }
}

#conoceMasBtn:hover {
    .arrow {
        transform: translateX(15px) scale(1.3);
    }
}

#conoceMasBtn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
  transition: 0.5s;
  transition-property: box-shadow;
}

#conoceMasBtn {
  background: #1bd8a9;
  box-shadow: 0 0 25px #fff;
}

#conoceMasBtn:hover {
  background-color: #00bfa5;
  box-shadow: 0 0 5px #a7ffeb,
              0 0 25px #a7ffeb,
              0 0 50px #a7ffeb,
              0 0 70px #a7ffeb;
}

.port-anim {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .port-anim::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #38bdf8;
    transition: width 0.4s ease, left 0.4s ease;
  }
  
  .port-anim:hover {
    color: #38bdf8;
    cursor: pointer;
  }
  
  .port-anim:hover::after {
    width: 100%;
    left: 0;
  }

  /* From Uiverse.io by javierBarroso */ 
.social-login-icons {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  border: 1px solid black;
  background: rgb(19,12,17);
background: linear-gradient(180deg, rgba(19,12,17,0.7) 0%, rgba(17,0,24,0.7) 100%);
  border-radius: 30px;
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 17px 0 17px 0;
}

.icon svg {
  fill: #fff;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 119, 181);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
  cursor: pointer;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: rgb(46,46,46);
background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(19,12,17,1) 89%, rgba(0,0,0,1) 100%);
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}
