<section id="home" class="relative flex items-center justify-center h-screen bg-cover bg-center -mt-16 -mb-5" style="background-image: url('assets/images/backgroundImg.jpg');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 text-center text-white">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">¡Welcome to my <span class="port-anim"><a href="about">Portfolio!</a></span></h1>
        <p class="text-lg md:text-xl mb-8">Discover my work as a web developer and learn more about my projects.</p>
        <a id="conoceMasBtn" href="about" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-lg shadow-lg transition duration-300">
            Know More
            <svg class="arrow ml-2 h-6 w-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>
</section>
