<section id="projects" class="px-6 py-32 bg-gray-100" style="background: url('assets/images/bg-portfolio.png') no-repeat center/cover; background-attachment: fixed;">
  <h1 class="text-5xl text-center font-bold text-gray-100 mb-12">My Projects</h1>
  <div class="grid grid-cols-1 p-6 sm:p-12 md:p-16 lg:p-20 xl:p-24 gap-6 sm:gap-8 md:gap-10 lg:gap-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
    
    <!-- Project CineAdvisor -->
    <div class="project-card bg-white rounded-2xl overflow-hidden shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 flex flex-col">
      <div class="relative w-full aspect-[16/9] overflow-hidden">
        <div class="carousel-inner carousel-inner-cine-advisor flex transition-transform duration-500" [style.transform]="'translateX(-' + project1.currentIndex * 100 + '%)'">
          <img *ngFor="let img of project1.images" [src]="img" class="object-cover w-full h-full flex-shrink-0">
        </div>
      </div>
      <div class="p-6 flex flex-col flex-grow">
        <h2 class="text-2xl font-semibold text-gray-300 mb-3">🎮 CineAdvisor</h2>
        <p class="text-gray-600 text-sm mb-2"><strong>Technologies:</strong> Django, Talwind CSS</p>
        <p class="text-gray-600 text-sm mb-4"><strong>State:</strong> Finished ✅</p>
        <div class="flex justify-between mt-auto">
          <button (click)="prevImage(project1)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10094;</button>
          <button (click)="nextImage(project1)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10095;</button>
        </div>
      </div>
    </div>

    <!-- Project Click & Go -->
    <div class="project-card bg-white rounded-2xl overflow-hidden shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 flex flex-col">
      <div class="relative w-full aspect-[16/9] overflow-hidden">
        <div class="carousel-inner carousel-inner-click-and-go flex transition-transform duration-500" [style.transform]="'translateX(-' + project2.currentIndex * 100 + '%)'">
          <img *ngFor="let img of project2.images" [src]="img" class="object-cover w-full h-full flex-shrink-0">
        </div>
      </div>
      <div class="p-6 flex flex-col flex-grow">
        <h2 class="text-2xl font-semibold text-gray-300 mb-3">🎮 Click & Go</h2>
        <p class="text-gray-600 text-sm mb-2"><strong>Technologies:</strong> Django, Talwind CSS</p>
        <p class="text-gray-600 text-sm mb-4"><strong>State:</strong> Finished ✅</p>
        <div class="flex justify-between mt-auto">
          <button (click)="prevImage(project2)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10094;</button>
          <button (click)="nextImage(project2)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10095;</button>
        </div>
      </div>
    </div>

    <!-- Project Hackathon -->
    <div class="project-card bg-white rounded-2xl overflow-hidden shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 flex flex-col">
      <div class="relative w-full aspect-[16/9] overflow-hidden">
        <div class="carousel-inner carousel-inner-hackathon flex transition-transform duration-500" [style.transform]="'translateX(-' + project3.currentIndex * 100 + '%)'">
          <img *ngFor="let img of project3.images" [src]="img" class="object-cover w-full h-full flex-shrink-0">
        </div>
      </div>
      <div class="p-6 flex flex-col flex-grow">
        <h2 class="text-2xl font-semibold text-gray-300 mb-3">🎮 Hackathon</h2>
        <p class="text-gray-600 text-sm mb-2"><strong>Technologies:</strong> Django, Talwind CSS</p>
        <p class="text-gray-600 text-sm mb-4"><strong>State:</strong> Finished ✅</p>
        <div class="flex justify-between mt-auto">
          <button (click)="prevImage(project3)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10094;</button>
          <button (click)="nextImage(project3)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10095;</button>
        </div>
      </div>
    </div>
    
    <!-- Project Aura -->
    <div class="project-card bg-white rounded-2xl overflow-hidden shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 flex flex-col">
      <div class="relative w-full aspect-[16/9] overflow-hidden">
        <div class="carousel-inner carousel-inner-aura-page flex transition-transform duration-500" [style.transform]="'translateX(-' + project4.currentIndex * 100 + '%)'">
          <img *ngFor="let img of project4.images" [src]="img" class="object-cover w-full h-full flex-shrink-0">
        </div>
      </div>
      <div class="p-6 flex flex-col flex-grow">
        <h2 class="text-2xl font-semibold text-gray-300 mb-3">🎮 Aura page</h2>
        <p class="text-gray-600 text-sm mb-2"><strong>Technologies:</strong> Angular, Laravel, Node.Js</p>
        <p class="text-gray-600 text-sm mb-4"><strong>State:</strong> Finished ✅</p>
        <div class="flex justify-between mt-auto">
          <button (click)="prevImage(project4)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10094;</button>
          <button (click)="nextImage(project4)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10095;</button>
        </div>
      </div>
    </div>

    <!-- Project Pokemon Cards -->
    <div class="project-card bg-white rounded-2xl overflow-hidden shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 flex flex-col">
      <div class="relative w-full aspect-[16/9] overflow-hidden">
        <div class="carousel-inner carousel-inner-pokemon-cards flex transition-transform duration-500" [style.transform]="'translateX(-' + project5.currentIndex * 100 + '%)'">
          <img *ngFor="let img of project5.images" [src]="img" class="object-cover w-full h-full flex-shrink-0">
        </div>
      </div>
      <div class="p-6 flex flex-col flex-grow">
        <h2 class="text-2xl font-semibold text-gray-300 mb-3">🎮 Pokemon Cards</h2>
        <p class="text-gray-600 text-sm mb-2"><strong>Technologies:</strong> HTML, CSS</p>
        <p class="text-gray-600 text-sm mb-4"><strong>State:</strong> Finished ✅</p>
        <div class="flex justify-between mt-auto">
          <button (click)="prevImage(project5)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10094;</button>
          <button (click)="nextImage(project5)" class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition">&#10095;</button>
        </div>
      </div>
    </div>



  </div>
</section>