<section id="projects" class="px-4 py-64 md:px-12 bg-gray-100" style="background: url('assets/images/bg-portfolio.png') no-repeat center/cover; background-attachment: fixed;">
  <h1 class="text-4xl text-center py-4">Projects</h1>
  <div class="portfolio-container rounded-2xl text-gray-800 min-h-screen p-8 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8">

    <!-- CineAdvisor Card -->
    <div class="project-card bg-gradient-to-r from-gray-300 to-gray-400 overflow-hidden p-6 transform hover:scale-105 transition-all duration-500 shadow-md hover:shadow-lg">
      <h2 class="text-xl font-semibold mb-4 text-gray-800 transition-colors duration-300 hover:text-gray-700">🎥 CineAdvisor</h2>
      <p class="mb-2 text-sm"><strong>Technologies:</strong> Django, Tailwind CSS</p>
      <p class="mb-4 text-sm"><strong>State:</strong> In progress... 🛠️</p>
      <div class="carousel relative overflow-hidden rounded-lg shadow-inner">
        <div class="carousel-inner carousel-inner-cine-advisor">
          <!-- Imagen 1 -->
          <img *ngFor="let img of project1.images; let i = index" 
         [src]="img" 
         [alt]="'Image ' + i"
         class="carousel-image">
        </div>
        <!-- Botón izquierdo fijo -->
        <button (click)="prevImage(project1)" class="carousel-control prev absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10094;</button>
        <!-- Botón derecho fijo -->
        <button (click)="nextImage(project1)" class="carousel-control next absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10095;</button>
      </div>
    </div>

    <!-- Click & Go Card -->
    <div class="project-card bg-gradient-to-r from-gray-200 to-gray-300 rounded-lg overflow-hidden p-6 transform hover:scale-105 transition-all duration-500 shadow-md hover:shadow-lg">
      <h2 class="text-xl font-semibold mb-4 text-gray-800 transition-colors duration-300 hover:text-gray-700">🚀 Click & Go</h2>
      <p class="mb-2 text-sm"><strong>Technologies:</strong> Django, Tailwind CSS</p>
      <p class="mb-4 text-sm"><strong>State:</strong> Finished ✅</p>
      <div class="carousel relative overflow-hidden rounded-lg shadow-inner">
        <div class="carousel-inner carousel-inner-click-and-go">
          <img *ngFor="let img of project2.images; let i = index" 
         [src]="img" 
         [alt]="'Image ' + i"
         class="carousel-image">
        </div>
        <!-- Botón izquierdo fijo -->
        <button (click)="prevImage(project2)" class="carousel-control prev absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-500 p-3 rounded-full text-white shadow-sm hover:bg-gray-400 transition-all duration-300 z-10">&#10094;</button>
        <!-- Botón derecho fijo -->
        <button (click)="nextImage(project2)" class="carousel-control next absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-500 p-3 rounded-full text-white shadow-sm hover:bg-gray-400 transition-all duration-300 z-10">&#10095;</button>
      </div>
    </div>

    <!-- Hackathon Project Card -->
    <div class="project-card bg-gradient-to-r from-gray-200 to-gray-300 rounded-lg overflow-hidden p-6 transform hover:scale-105 transition-all duration-500 shadow-md hover:shadow-lg">
      <h2 class="text-xl font-semibold mb-4 text-gray-800 transition-colors duration-300 hover:text-gray-700">🏅 Hackathon E-learn</h2>
      <p class="mb-2 text-sm"><strong>Technologies:</strong> Django, Tailwind CSS</p>
      <p class="mb-4 text-sm"><strong>State:</strong> Finished ✅</p>
      <div class="carousel relative overflow-hidden rounded-lg shadow-inner">
        <div class="carousel-inner carousel-inner-hackathon">
          <img *ngFor="let img of project3.images; let i = index" 
         [src]="img" 
         [alt]="'Image ' + i"
         class="carousel-image">
        </div>
        <!-- Botón izquierdo fijo -->
        <button (click)="prevImage(project3)" class="carousel-control prev absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10094;</button>
        <!-- Botón derecho fijo -->
        <button (click)="nextImage(project3)" class="carousel-control next absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10095;</button>
      </div>
    </div>

    <!-- Pokemon Cards Card -->
    <div class="project-card bg-gradient-to-r from-gray-300 to-gray-400 rounded-lg overflow-hidden p-6 transform hover:scale-105 transition-all duration-500 shadow-md hover:shadow-lg">
      <h2 class="text-xl font-semibold mb-4 text-gray-800 transition-colors duration-300 hover:text-gray-700">🎮 Pokemon Cards</h2>
      <p class="mb-2 text-sm"><strong>Technologies:</strong> HTML, CSS</p>
      <p class="mb-4 text-sm"><strong>State:</strong> Finished ✅</p>
      <div class="carousel relative overflow-hidden rounded-lg shadow-inner">
        <div class="carousel-inner carousel-inner-pokemon-cards">
          <img *ngFor="let img of project5.images; let i = index" 
         [src]="img" 
         [alt]="'Image ' + i"
         class="carousel-image">
        </div>
        <!-- Botón izquierdo fijo -->
        <button (click)="prevImage(project5)" class="carousel-control prev absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10094;</button>
        <!-- Botón derecho fijo -->
        <button (click)="nextImage(project5)" class="carousel-control next absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10095;</button>
      </div>
    </div>

    <!-- Aura Project Card -->
    <div class="project-card bg-gradient-to-r from-gray-300 to-gray-400 rounded-lg overflow-hidden p-6 transform hover:scale-105 transition-all duration-500 shadow-md hover:shadow-lg">
      <h2 class="text-xl font-semibold mb-4 text-gray-800 transition-colors duration-300 hover:text-gray-700">💎 Aura</h2>
      <p class="mb-2 text-sm"><strong>Technologies:</strong> Angular, Laravel, Node.js</p>
      <p class="mb-4 text-sm"><strong>State:</strong> Finished ✅</p>
      <div class="carousel relative overflow-hidden rounded-lg shadow-inner">
        <div class="carousel-inner carousel-inner-aura-page">
          <img *ngFor="let img of project4.images; let i = index" 
         [src]="img" 
         [alt]="'Image ' + i"
         class="carousel-image">
        </div>
        <!-- Botón izquierdo fijo -->
        <button (click)="prevImage(project4)" class="carousel-control prev absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10094;</button>
        <!-- Botón derecho fijo -->
        <button (click)="nextImage(project4)" class="carousel-control next absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-600 p-3 rounded-full text-white shadow-sm hover:bg-gray-500 transition-all duration-300 z-10">&#10095;</button>
      </div>
    </div>

  </div>
  
</section>
