/* Estilos generales para las cartas */
.project-card {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

/* Efectos de las flechas de navegación del carrusel */
/* Estilos del botón con colores suaves y azul pastel */
.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #A7C7E7; /* Color azul pastel */
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: all 0.3s ease-in-out;
}

.carousel-control:hover {
  background-color: #6B97D9; /* Azul pastel más oscuro al hacer hover */
  transform: scale(1.15) translateY(-18px); /* Efecto de expansión suave */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); /* Sombra más sutil al hacer hover */
}

.carousel-control:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(107, 151, 217, 0.6); /* Resaltado al hacer focus */
}

.carousel-control:active {
  transform: scale(0.95); /* Efecto de compresión al hacer clic */
}

/* Efecto suave y animación del icono */
.carousel-control span {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.carousel-control:hover span {
  transform: rotate(90deg); /* Rotación más fluida */
  color: #ffffff; /* Mantener el color blanco en el icono */
}


.carousel {
  position: relative;
  overflow: hidden;
  width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
  height: 300px; /* Ajusta la altura de las imágenes */
}

/* Contenedor interno para las imágenes */
.carousel-inner {
  display: flex; /* Alinea las imágenes en una fila */
  transition: transform 0.5s ease-in-out; /* Suaviza el movimiento */
  align-items: center;
}

/* Las imágenes deben ocupar todo el espacio dentro del contenedor */
.carousel-image {
  width: 100%; /* Cada imagen ocupa el 100% del contenedor */
  flex: 0 0 100%; /* Las imágenes ocupan 100% del ancho sin que se deformen */
  object-fit: cover; /* Mantiene la proporción de la imagen y no se deforma */
  height: 100%; /* Hace que la imagen ocupe toda la altura */
}


.carousel-inner img {
  width: 100%; /* Cada imagen ocupará el 100% del ancho del carrusel */
  height: 100%; /* Hace que las imágenes mantengan una altura proporcional */
  object-fit: cover; /* Asegura que la imagen cubra todo el área sin deformarse */
}


.carousel img.fade-out {
  opacity: 0;
}

/* Añadiendo gradientes para bordes y sombras */
.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que todas las imágenes mantengan la misma proporción */
  transition: transform 0.5s ease;
}

/* Agregar bordes y degradados en el contenedor */
.project-card:hover {
  background: linear-gradient(135deg, rgba(29, 78, 216, 0.5) 0%, rgba(253, 253, 253, 0.1) 100%);
}

