<section id="about" class="py-16 px-4 md:px-12 -mt-12 bg-gray-100 -mb-8">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-gray-800 mb-8">About me</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
            <div>
                <img src="assets/images/backgroundImg.jpg" alt="Profile Picture" class="rounded-full w-64 h-64 mx-auto mb-8 object-cover md:w-96 md:h-96 shadow-xl">
            </div>
            <div>
                <p class="text-lg text-gray-700 leading-relaxed mb-6">Hi! I'm Alejandro, a passionate web developer with experience in various technologies and frameworks.</p>
                <p class="text-lg text-gray-700 leading-relaxed mb-6">I love creating websites that are not only visually appealing but also functional and efficient in terms of performance.</p>
                <p class="text-lg text-gray-700 leading-relaxed mb-6">My goal is to continue learning and growing as a professional in the field of web development, always seeking new ways to enhance my skills and knowledge.</p>
                <p class="text-lg text-gray-700 leading-relaxed">When I'm not coding, I enjoy spending time outdoors, exercising, or playing video games.</p>
            </div>
        </div>
        <div class="mt-12 lg:px-32">
            <h3 class="text-2xl font-bold text-gray-800 mb-8">Skills</h3>
            <ul class="grid grid-cols-2 md:grid-cols-3 gap-4">
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-orange-500 hover:border-orange-500 transition duration-300 ease-in-out">HTML5</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-blue-400 hover:border-blue-400 transition duration-300 ease-in-out">CSS3</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-yellow-500 hover:border-yellow-500 transition duration-300 ease-in-out">JavaScript</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-blue-500 hover:border-blue-500 transition duration-300 ease-in-out">TypeScript</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-red-600 hover:border-red-600 transition duration-300 ease-in-out">Angular</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-green-500 hover:border-green-500 transition duration-300 ease-in-out">Node.js</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-yellow-400 hover:border-yellow-400 transition duration-300 ease-in-out">Express</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-purple-500 hover:border-purple-500 transition duration-300 ease-in-out">PHP</li>
                <li class="text-lg text-gray-700 leading-relaxed border-b-2 border-gray-300 pb-2 hover:text-sky-600 hover:border-sky-600 transition duration-300 ease-in-out">SQL</li>
            </ul>
            <div class="text-center mt-12">
                <a href="skills">
                    <button class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white font-bold py-3 px-8 rounded-full shadow-2xl transition-all duration-500 ease-in-out transform hover:scale-110 hover:rotate-3 focus:outline-none focus:ring-4 focus:ring-indigo-300">
                        Show More
                      </button>
                </a>
              </div>
        </div>
        <div class="mt-12">
            <h3 class="text-2xl font-bold text-gray-800 mb-4">Experience</h3>
            <p class="text-lg text-gray-700 leading-relaxed mb-6">Throughout my journey, I've had the opportunity to delve into the world of web development and technical support. Some of my most significant experiences include:</p>
            <p class="text-lg text-gray-700 leading-relaxed mb-6"><b>Computer Technical Support and Maintenance:</b> During an internship at a computer maintenance and assembly institute, I gained skills in diagnosing and resolving hardware and software issues. I worked on installing, configuring, and repairing computer systems, providing technical support to both students and faculty.</p>
            <p class="text-lg text-gray-700 leading-relaxed mb-6"><b>Web Development at a Telemarketing Company:</b> During my internship at a telemarketing company, I contributed to the development and maintenance of their internal web platform. My role involved implementing new features, optimizing code, and troubleshooting technical issues using HTML, CSS, PHP, and SQL. This experience allowed me to deepen my skills in web development and collaborate on projects with local impact.</p>
            <p class="text-lg text-gray-700 leading-relaxed mb-6">These internships have provided me with an understanding of web technologies and the importance of technical support in computer environments. I'm excited to continue growing and tackling new challenges in the field of web development.</p>
        </div>
    </div>
</section>
