<div id="about" class="relative bg-stone-200 overflow-hidden mt-16 text-center mx-8 md:mx-16 lg:mx-6 xl:mx-12 rounded-3xl shadow-2xl appear">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-stone-200 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full lg:w-28 xl:w-40 text-stone-200 transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100"></polygon>
            </svg>

            <div class="pt-1"></div>

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                        About me
                    </h2>
                    <p class="text-lg text-stone-800 leading-relaxed mb-6">If you're already here, it's because you want to know more about me, so... let's go! 🚀</p>

                    <p class="text-lg text-stone-800 leading-relaxed mb-6">📚 My goal is to keep learning and growing as a professional in web development, always looking for new ways to enhance my skills and knowledge. 💻</p>

                    <p class="text-lg text-stone-800 leading-relaxed mb-6">🏞️ When I'm not coding, I love spending time outdoors, exercising 🏋️, or playing video games 🎮.</p>

                    <p class="text-lg text-stone-800 leading-relaxed mb-6">🎹 Right now, I'm learning to play the piano and studying Japanese! 🎌</p>
                </div>
            </main>
        </div>
    </div>

    <!-- Imagen con descripción mejorada para accesibilidad -->
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-full w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full" src="assets/images/portfolioMe.jpg" alt="Foto de perfil de [Tu Nombre], desarrollador web y amante de la tecnología">
    </div>
</div>
